* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 1fr;
    min-height: 100vh;
}
.header {
    background-color: #bdec4f;
    grid-column: 2;
    grid-row: 1;
}

.sidebar {
    background-color: #84cc16;
    grid-row: 1 / 4;
    grid-column: 1;
}
.main-content {
    background-color: #99f6e4;
    grid-row: 2 / 4;
    grid-column: 2;
}

.footer {
    background-color: #1a2e05;
    grid-column: 1 / 4;
}

/* SideBar Section */
.sidebar {
    display: flex;
    flex-flow: column;
    gap: 40px;
    /* flex-grow: 0; */
}
.sidebar .logo {
    padding: 10px;
    /* border: 1px solid red; */
    display: flex;
    /* flex-flow: row-reverse nowrap; */
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    border-bottom: 8px solid #111;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
.sidebar .logo svg {
    width: 40px;
}
.list-1 > *,
.list-2 > * {
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    margin-left: 20px;
    cursor: pointer;
}
.list-1 > *:hover,
.list-2 > *:hover {
    background-color: #bdec4f;
}
.list-1 li svg,
.list-2 li svg {
    width: 30px;
}
li h3 {
    align-self: center;
    margin-left: 30px;
}
.list-1,
.list-2 {
    border-bottom: 8px solid #111;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 4px;
}
/* Header Section */

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
}

.search-bar,
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Sets all the div with svg and header to a specif size to reduce the svg to blow up */
.search-bar svg,
.profile svg{
    margin-right: 10px;
    width: 22px;
}
.search-bar input {
    height: 50%;
    width: 60%;
    border-radius: 10px;
    border: none;
    background-color: rgb(196, 194, 194);
    font-size: 14px;
}

.img {
    height: 80%;
    width: 10%;
    background-color: #111;
    border-radius: 50%;
    margin: 0 10px;
}

.header-info {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}
.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.btn {
    border-radius: 20px;
    padding: 8px 15px;
    background-color: #84cc16;
    font-weight: bold;
    font-size: 1rem;
}
.btn:hover {
    cursor: pointer;
    background-color: #99f6e4;
}
/* Main Content */
.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}


/* Project Section */
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    
}

/* Main Content Sidebar Sections */
.main-content-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

}

.project-card {
    display: grid;
    padding: 10px;
    width: 80%;
    border: 4px solid #0e8577;
    background-color: #99f6e4;
}
.project-card {
    border-bottom: 8px solid #84cc16;
}
.project-card:hover {
    border: 8px solid #0e8577;
    border-bottom: 16px solid #84cc16;
}
.card-icons > * {
    width: 24px;
    cursor: pointer;
}
.card-icons > *:hover {
    width: 25px;
}
.card-icons {
    justify-self: end;
}
/* Announcement Section */
.announcements-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.announcements-card {
    background-color: #fff;
    padding: 10px;
    width: 80%;
    border-bottom-left-radius: 20%;
    /* border-bottom-right-radius: 10%; */
    margin-bottom: 5px;
    cursor: pointer;
}

/* Trending Section */
.trending-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
}

.trending-section > * {
    border-bottom: 1px solid #84cc16;
}

.trending-card svg {
    width: 30px;
}

.trending-card {
    display: flex;
    background-color: #fff;
    padding: 10px;
    width: 80%;
    gap: 2em;
    align-items: center;
    margin-bottom: 10px;
    border-bottom-right-radius: 40%;
    cursor: pointer;
}

.trending-card:hover {
    border: 1px solid #bdec4f;
}

/* Footer Section */
.footer {
    padding: 24px;
    display: flex;
    justify-content: center;
    color: #bdec4f;
}