* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
    width: 100vw;
}
.header {
    background-color: #14b8a6;
    grid-column: 2;
    grid-row: 1;
}

.sidebar {
    background-color: #84cc16;
    grid-row: 1 / 4;
    grid-column: 1;
}
.main-content {
    background-color: #99f6e4;
    grid-row: 2 / 4;
    grid-column: 2;
}
.footer {
    background-color: #1a2e05;
    grid-column: 1 / 4;
}

/* SideBar Section */
.sidebar {
    display: flex;
    flex-flow: column;
    gap: 40px;
    /* flex-grow: 0; */
}
.sidebar .logo {
    padding: 10px;
    /* border: 1px solid red; */
    display: flex;
    /* flex-flow: row-reverse nowrap; */
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    border-bottom: 8px solid #111;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 4px;
}
.sidebar .logo svg {
    width: 40px;
}
.list-1 > *,
.list-2 > * {
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    margin-left: 20px;
}
.list-1 li svg,
.list-2 li svg {
    width: 30px;
}
li h3 {
    align-self: center;
    margin-left: 30px;
}
.list-1,
.list-2 {
    border-bottom: 8px solid #111;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 4px;
}
/* Header Section */

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
}

.search-bar,
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Sets all the div with svg and header to a specif size to reduce the svg to blow up */
.search-bar svg,
.profile svg{
    margin-right: 10px;
    width: 22px;
}
.search-bar input {
    height: 40%;
    width: 60%;
    border-radius: 10px;
    border: 1px solid #111;
    background-color: rgb(196, 194, 194);
}

.img {
    height: 80%;
    width: 10%;
    background-color: #eee;
    border-radius: 50%;
    margin: 0 10px;
}

.header-info {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}
.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.btn {
    border-radius: 20px;
    padding: 8px 15px;
    background-color: #84cc16;
    font-weight: bold;
    font-size: 1rem;
}
/* Main Content */
.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.main-content > * {
    border: 1px solid red;
}


/* Project Section */
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.project-container > * {
    border: 1px solid red;
}

/* Main Content Sidebar Sections */
.main-content-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

}
.main-content-sidebar > * {
    border: 1px solid red;
}

/* Announcement Section */
.announcements-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}
.announcements-section > * {
    border: 1px solid red;
}

/* Trending Section */
.trending-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.trending-section > * {
    border: 1px solid red;
}
